@import "./variables";

.body {
  background-color: $body_color;
}

.container {
  background-color: $body_color;
  ;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: $p4;
  padding-left: $p4;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.breadcrumb_container {
  text-align: center;
}

#breadcrumb {
  list-style: none;
  display: inline-block;

  .icon {
    font-size: $fs1;
  }

  li {
    float: left;

    a {
      color: $dark;
      display: block;
      background: $yellow;
      text-decoration: none;
      position: relative;
      height: 40px;
      line-height: 40px;
      padding: $p1 $p2 $p1 $p2;
      text-align: center;
      margin-right: $m5;
    }

    &:nth-child(even) {
      a {
        background-color: $yellow-darken;

        &:before {
          border-color: $yellow-darken;
          border-left-color: transparent;
        }

        &:after {
          border-left-color: $yellow-darken;
        }
      }
    }

    &:first-child {
      a {
        padding-left: $p3;
        border-radius: 4px 0 0 4px;

        &:before {
          border: none;
        }
      }
    }

    &:last-child {
      a {
        padding-right: $p3;
        border-radius: 4px 0 0 4px;

        &:after {
          border: none;
        }
      }
    }

    a {

      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 0;
        border: 0 solid $yellow;
        border-width: 20px 10px;
        width: 0;
        height: 0;
      }

      &:before {
        left: -20px;
        border-left-color: transparent;
      }

      &:after {
        left: 100%;
        border-color: transparent;
        border-left-color: $yellow;
      }

      &:hover {
        background-color: $green;

        &:before {
          border-color: $green;
          border-left-color: transparent;
        }

        &:after {
          border-left-color: $green;
        }
      }

      &:active {
        background-color: $green-darken;

        &:before {
          border-color: $green-darken;
          border-left-color: transparent;
        }

        &:after {
          border-left-color: $green-darken;
        }
      }
    }
  }
}

section {
  position: relative;
  height: 100vh;
}

.waw_components,
h2 {
  text-align: center;
  color: $primary_color;
  padding: $p4;
}

.top_left img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.top_right img {
  position: absolute;
  top: 0;
  right: 0;
  object-fit: cover;
}

.bottom_left img {
  position: absolute;
  bottom: 0;
  left: 0;
  object-fit: cover;
}

.bottom_right img {
  position: absolute;
  bottom: 0;
  right: 0;
  object-fit: cover;
  
}
