.w-btn,
button {
  font-size: var(--fs);
  font-weight: 500;
  font-family: var(--ff-base);
  background-color: var(--c-primary);
  border-radius: var(--b-radius);
  transition: var(--transition);
  color: var(--c-white);
  position: relative;
  line-height: 19px;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  border: none;
  cursor: pointer;


  &._primary {
    background-color: var(--c-primary);

    &:hover {
      background-color: var(--c-primary-hover);
    }
  }

  &._second {
    border: 1px solid #256EFF;
    background-color: var(--c-white);
    color: #256EFF;
  }

  &._danger {
    background-color: var(--c-error);
    color: white;

    &:hover {
      background: var(--c-error-hover);
    }
  }

  &._link {
    background: transparent;
    color: var(--c-text-primary);
    font-size: 14px;
    font-weight: 400;

    &:hover {
      color: var(--c-text-secondary);
    }
  }

  &:disabled {
    background-color: var(--c-grey-dark);
    cursor: default;

    &:hover {
      background-color: var(--c-grey-dark);
    }
  }
}
