#html .modal {
  padding: 20px;

  &-content {
    background: var(--c-bg-secondary);
    border-radius: var(--b-radius);
    border: 1px solid var(--c-border);
    max-width: 700px;
    padding-top: 45px;
  }
  .close {
    top: -2px;
    right: 5px;

    font-size: 50px;
  }
  .close:hover {
    color: var(--c-text-secondary);
  }
}


#html body._modal-small .modal-content,
#html .forms_modal .modal-content {
  max-width: 500px;
  width: 100%;
}
