// SWITCH
.w-switch {
    display: flex;
    align-items: center;
    cursor: pointer;
    &__toggle {
        position: relative;
        width: 45px;
        height: 25px;
    }
    &__input {
        display: none;
        &:checked+.w-switch__slider {
            background-color: var(--c-primary);
            border: 1px solid var(--c-primary);
        }
        &:focus+.w-switch__slider {
            box-shadow: 0 0 1px var(--c-shadow);
        }
        &:checked+.w-switch__slider:before {
            transform: translate(15px, -50%);
            background-color: var(--c-white);
        }
    }
    &__slider {
        position: absolute;
        inset: 0;
        background-color: var(--c-grey);
        border: 1px solid var(--c-border);
        outline: none;
        transition: var(--transition);
        &:before {
            position: absolute;
            content: "";
            height: 16px;
            width: 16px;
            left: 6px;
            top: 50%;
            transform: translateY(-50%);
            background-color: var(--c-white);
            transition: var(--transition);
        }
        &._round {
            border-radius: 34px;
            &:before {
                border-radius: 50%;
            }
        }
    }
    &__text {
        margin-left: 10px;
        font-size: calc(#{var(--fs)} - 2px);
        line-height: calc(#{var(--fs)} - 2px);
        letter-spacing: var(--letter-spacing);
        color: var(--c-text);
    }
}
